@model IEnumerable<ContosoUniversity.Models.Course>

@{
    ViewData["Title"] = "All Courses";
}

<div class="my-5">
<h2>All Courses</h2>
<hr />
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
        <a class="btn btn-primary" asp-action="UpdateCourseCredits">Update Credits</a>
</p>
<table class="table table-striped my-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                        <div class="btn-group" role="group" aria-label="Button Group">
                    <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.CourseID">Edit</a>
                            <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@item.CourseID">Details</a>
                            <a class="btn btn-secondary btn-sm" asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>